<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Randstad Award Russia - 2016</title>
    <link type="text/css" rel="stylesheet" href="../../../bundles/bootstrap3/css/bootstrap.css" media="screen">
    <link type="text/css" rel="stylesheet" href="../../../bundles/slick/slick.css" media="screen">
    <link type="text/css" rel="stylesheet" href="../../../bundles/slick/slick-theme.css" media="screen">
    <link type="text/css" rel="stylesheet" href="../../../bundles/public2016/css/app.css" media="screen">
    <link type="text/css" rel="stylesheet" href="../../../bundles/public2016/css/_slider.css" media="screen">
</head>
<body>
        <div class="container">
            <div class="header">
                <div class="logo pull-left"><img class="logo-lg" src="../../../bundles/public2016/img/logo.png"></div>
                <ul class="buttons pull-right">
                    <li class="active"><a href="mailto:award@ancor.ru">Связаться с нами</a></li>
                    <li class="divider">|</li>
                    <li><a target="_blank" href="guests">Станьте гостем церемонии</a></li>
                    <li class="menu"><span class="menu-icon"></span></li>
                </ul>
                <ul class="partners pull-right">
                    <li><a target="_blank" href="https://ancor.ru">Холдинг АНКОР</a></li>
                    <li><a target="_blank" href="http://www.randstad.com/">Холдинг Randstad</a></li>
                    <li><a target="_blank" href="http://www.randstad.com/randstad-award/">Randstad Award worldwide</a></li>
                </ul>
            </div>
        </div>
        <div class="golden-bg">
            <div class="container mainmenu">
                    <ul class="nav nav-pills">
                        <li><a href="#about">О премии</a></li>
                        <li><a href="#winners">Победители</a></li>
                        <li><a href="#research">Об исследовании</a></li>
                        <li><a href="#reports">Отчеты и презентации</a></li>
                        <li><a href="#news">Новости</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                История <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/foto2015">2015</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/foto2014">2014</a></li>
                            </ul>
                        </li>
                        <li><a target="_blank" href="link_to.pdf">Для СМИ</a></li>
                    </ul>
                </div>
            </div>
        <div class="container">
            <div class="award-announce">
                <img class="pull-left" src="../../../bundles/public2016/img/goldglobe.png">
                <div><span class="golden">Randstad Award, Россия-2016:</span> 7&nbsp;апреля, Москва</div>
            </div>
        </div>
        <div class="gray-bg">
            <div class="container">
                <div class="slider">
                    <div class="slide">
                        <div class="slide-content" id="slide1">
                            <div class="info">
                                <h3>О премии</h3>
                                <p>В 2016 году международной премии Randstad Award исполняется 15 лет, Россия участвует в проекте 3 года. Партнер Randstad Award в России — кадровый холдинг АНКОР.</p>
                            </div>
                            <a class="btn-more" href="#about">Узнать больше</a>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-content" id="slide2">
                            <div class="info">
                                <h3>Об исследовании</h3>
                                <p>Крупнейшее в мире исследование привлекательности работодателя проводит        по всем странам-участницам независимая бельгийская компания ICMA Group.</p>
                            </div>
                            <a class="btn-more" href="#research">Узнать больше</a>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-content" id="slide3">
                            <div class="info">
                                <h3>Отчеты и результаты</h3>
                                <p>Randstad Award подскажет, какие факторы влияют на выбор места работы, какие тренды    на рынке труда страны, какой вектор развития бренда работодателя принесет успех в борьбе за таланты.</p>
                            </div>
                            <a class="btn-more" href="#reports">Узнать больше</a>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-content" id="slide4">
                            <div class="info">
                                <h3>Новости</h3>
                                <p>Обладатель Randstad Award Global-2015: Microsoft.</p>
                            </div>
                            <a class="btn-more" href="#news">Узнать больше</a>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide-content" id="slide5">
                            <div class="info">
                                <h3>Победители</h3>
                                <p>2 апреля 2015 года в Москве прошла церемония награждения российских лауреатов Randstad Award-2015.</p>
                            </div>
                            <a class="btn-more" href="#winners">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content content-about">
                <img class="righter" src="../../../bundles/public2016/img/about_goblet.jpg">
                <h2><a name="about"></a>О премии</h2>
                <p>Randstad Award — это награда, которая каждый год вручается самому привлекательному работодателю. В 2000 году компания Randstad впервые запустила проект в Бельгии, чтобы оценить 50 локальных брендов работодателей. За 15 лет тесного сотрудничества Randstad Award распространился на 3500 организаций по всему миру. В 2016 году в проекте принимают участие 25 стран.</p>

                <p>Премия присуждается на основе результатов независимого исследования. В каждой стране ответы не менее 7000 респондентов — представителей работающего и неработающего населения — определяют победителя Randstad Award из 150 крупнейших по численности персонала работодателей: компания, которая набирает наибольшее число баллов, считается самой привлекательной для работы.</p>

                <p>Статуэтка Randstad Award была создана Марселем Вандерсом, одним из ведущих мировых дизайнеров. Намагниченный шар символизирует привлекательность компании, притягивающей сотрудников, словно магнит. Но главной наградой всем компаниям-участницам являются, конечно же, результаты исследования. Представление о восприятии конкретного бренда работодателя и предпочтениях соискателей позволяют организации улучшить свой имидж. В условиях серьезной конкурентной борьбы на рынке труда бренд работодателя является важнейшим инструментом для привлечения и удержания талантов и, в конечном счете, обеспечивает эффективность и успешность бизнеса.</p>

                <p><a class="file" href="../../../bundles/public2016/files/randstad_award_statement_rus.pdf" target="_blank">Положение о премировании Randstad Award на территории Российской Федерации</a></p>

            </div>
        </div>
        <div class="gray-bg">
            <div class="container">
                 <div class="content content-research">
                     <h2><a name="research"></a>Об исследовании</h2>
                     <div class="countries">
                         <div class="map"><img src="../../../bundles/public2016/img/worldmap.png"></div>
                         <div class="emblem">25<br>стран&ndash;участниц</div>
                         <ul class="list clearfix">
                             <li><img src="../../../bundles/public2016/img/country/argentina.png"> Аргентина</li>
                             <li><img src="../../../bundles/public2016/img/country/australia.png"> Австралия</li>
                             <li><img src="../../../bundles/public2016/img/country/belgium.png"> Бельгия</li>
                             <li><img src="../../../bundles/public2016/img/country/united_kingdom.png"> Великобритания</li>
                             <li><img src="../../../bundles/public2016/img/country/hungary.png"> Венгрия</li>
                             <li><img src="../../../bundles/public2016/img/country/germany.png"> Германия</li>
                             <li><img src="../../../bundles/public2016/img/country/hongkong.png"> Гонгконг</li>
                             <li><img src="../../../bundles/public2016/img/country/india.png"> Индия</li>
                             <li><img src="../../../bundles/public2016/img/country/spain.png"> Испания</li>
                             <li><img src="../../../bundles/public2016/img/country/italy.png"> Италия</li>
                             <li><img src="../../../bundles/public2016/img/country/canada.png"> Канада</li>
                             <li><img src="../../../bundles/public2016/img/country/china.png"> Китай</li>
                             <li><img src="../../../bundles/public2016/img/country/luxemburg.png"> Люксембург</li>
                             <li><img src="../../../bundles/public2016/img/country/malaysia.png"> Малайзия</li>
                             <li><img src="../../../bundles/public2016/img/country/netherlands.png"> Нидерланды</li>
                             <li><img src="../../../bundles/public2016/img/country/new_zeland.png"> Новая&nbsp;Зеландия</li>
                             <li><img src="../../../bundles/public2016/img/country/poland.png"> Польша</li>
                             <li><img src="../../../bundles/public2016/img/country/portugal.png"> Португалия</li>
                             <li><img src="../../../bundles/public2016/img/country/russia.png"> Россия</li>
                             <li><img src="../../../bundles/public2016/img/country/singapore.png"> Сингапур</li>
                             <li><img src="../../../bundles/public2016/img/country/usa.png"> США</li>
                             <li><img src="../../../bundles/public2016/img/country/france.png"> Франция</li>
                             <li><img src="../../../bundles/public2016/img/country/switzerland.png"> Швейцария</li>
                             <li><img src="../../../bundles/public2016/img/country/sweden.png"> Швеция</li>
                             <li><img src="../../../bundles/public2016/img/country/japan.png"> Япония</li>
                         </ul>
                     </div>

                      <p>В каждой из стран формируется список из 150 крупнейших по численности персонала компаний.
                     Для проведения исследования в форме онлайн-интервью приглашаются представители работающего и неработающего населения каждой страны. Создается репрезентативная выборка (не менее 7000 человек в стране). Она основана на особенностях национальной демографии, включает студентов, работающих и неработающих в возрасте от 18 до 65 лет, акцентируется на людях младше 40 лет.</p>

                     <p>Онлайн-опросник состоит из трех частей: первая определяет портрет респондента, вторая позволяет понять тренды рынка труда с точки зрения предпочтений соискателей, третья направлена на формирование рейтинга привлекательных работодателей. Респондентам предлагается выбрать компании, которые им знакомы, а затем ответить, хотят ли они там работать. На следующем этапе они оценивают привлекательность каждой из выбранных компаний по 10 ключевым факторам. Технология исследования, единый подход и фактически одновременное время проведения опроса позволяют выявить корпоративные, отраслевые и страновые особенности.</p>

                     <p>Randstad Award измеряет не только абсолютную, но и относительную привлекательность компании как работодателя — люди не просто выбирают известное имя в качестве желанного места работы, они осведомлены о деятельности организации и готовы рассмотреть ее в качестве возможного работодателя. Показатель относительной привлекательности исключает возможность для хорошо известных на рынке компаний получить преимущество перед менее известными и является основанием для присуждения премии.</p>

                     <p><a target="_blank" href="../../../bundles/public2016/files/juditht_fromdigest2014_iii.pdf" class="file">Джудит ФРАНСЕН, директор по международному маркетингу Randstad Holdingо проекте &laquo;из первых уст&raquo;</a></p>

                 </div>
            </div>
        </div>
        <div class="container">
            <div class="content content-report">
                <h2><a name="reports"></a>Отчеты и результаты</h2>
                <p>С основной аналитикой, содержащей результаты по России можно ознакомиться здесь:</p>

                <ul class="reports clearfix">
                    <li>
                        <a target="_blank" href="">
                            2015
                            <div>Отчет по России, Randstad Award-2015</div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="">
                            2014
                            <div>Отчет по России, Randstad Award-2014</div>
                        </a>
                    </li>
                </ul>

                <p>Отчеты по другим странам-участницам доступны на английском языке на сайте холдинга <a href="http://www.randstad.com/randstad-award/insights-per-country/">Randstad</a>.</p>

                <p>Отдельные отчеты, в которых содержится информация о глобальных или национальных секторах рынка, доступны <a href="mailto:award@ancor.ru">по запросу</a>.</p>

                <p>Отчеты по конкретным компаниям абсолютно конфиденциальны и предоставляются только менеджменту компании представителем АНКОРа. Отчет о компании позволяет получить детальную информацию о сильных и слабых сторонах бренда работодателя сравнить себя с показателями в отрасли, определить точки роста EVP.</p>

            </div>
        </div>
        <div class="gray-bg">
            <div class="container">
                <div class="content content-news">
                    <h2><a name="news"></a>Новости</h2>
                    <dl class="news clearfix">
                        <dt>20.01.2016<span>|</span></dt>
                        <dd><a href="#">Завершилось исследование Randstad Award-2016.</a>
                        <div class="text">
                            <p>К проекту Randstad Award присоединились Португалия и Малайзия. Исследование проведено бельгийской независимой ICMA Group по всем 25 странам в период с сентября по декабрь 2015 года. С 15 марта 2016 стартует марафон церемоний награждения самых привлекательных работодателей в разных странах, который завершится 5 мая 2016. В этом году мировую пальму первенства удержит компания Microsoft – согласно решению Randstad c 2015 Randstad Award Global вручается раз в два года.</p>
                            <p>В России опрос прошел в декабре 2015, результаты исследования и имена самых привлекательных работодателей страны будут озвучены на торжественной церемонии Randstad Award в Москве 7 апреля 2016..</p>
                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt>24.04.2015<span>|</span></dt>
                        <dd><a href="#">Самый привлекательный работодатель в мире, обладатель Randstad Award Global-2015 – Microsoft.</a>
                            <div class="text">
                                <p>23 апреля 2015 года в Бельгии прошла торжественная церемония вручения Randstad Award Global самым привлекательным работодателям в мире. Первую премию получила компания Microsoft, причем впервые за 15 лет истории премии Microsoft получил самые высокие баллы по привлекательности по всем ключевым факторам выбора места работы. ИТ-индустрия признана самым привлекательным в мире сектором с точки зрения работы, получив голоса 69% мужчин и 70% женщин во всем мире. Номинанты второй и третьей премии в мире не изменились. Второй по привлекательности работодатель – компания Sony, третье место занимает компания Samsung.</p>
                            <span><a href="" ></a></span></div>
                        </dd>
                        <dt>05.04.2015<span>|</span></dt>
                        <dd><a href="#">Опубликован отчет по исследованию Randstad Award-2015 в России.</a>
                            <div class="text">
                                <p>В первую очередь респонденты оценивали важность ключевых критериев выбора работодателя. Также в рамках исследования респондентам задавались дополнительные вопросы, касающиеся поведения и предпочтений на рынке труда, в том числе о факте, планах и причинах смены работы, факторах, мотивирующих на продолжение сотрудничества с текущим работодателем, современных каналах поиска информации о возможностях на рынке труда.</p>
                                <p>Исследование проходит в России второй год подряд, и, безусловно, в этом году данные по ключевым факторам представлены в динамике и демонстрируют не только статус, но и изменения в предпочтениях участников рынка труда.</p>
                                <p>Полный отчет по России находится <a target="_blank" href="bundles/public2016/files/report2015.pdf">здесь</a>.</p>

                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt class="archive">03.04.2015<span>|</span></dt>
                        <dd class="archive"><a href="#">2 апреля 2015 года в Москве состоялась ежегодная церемония Randstad Award.</a>
                            <div class="text">
                                <p>Награды за привлекательность в своей отрасли получили 12 компаний из значимых секторов экономики: Johnson&Johnson, Henkel, Nestle, Nokia, Robert Bosch, Toyota Motor, X5 Retail Group, Аэрофлот - Российские авиалинии, Группа ВТБ, ОМК, СИБУР, Яндекс.</p>
                                <p>Самые привлекательные работодатели России - ГАЗПРОМ и SAMSUNG.</p>
                                <p>Фотоотчет и видео церемонии, а также видеоотчет по исследованию смотрите <a href="foto2015" target="_blank">здесь</a>.</p>
                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt class="archive">06.03.2015<span>|</span></dt>
                        <dd class="archive"><a href="#">В 2015 году Randstad впервые проведет в Бельгии торжественную церемонию вручения Randstad Award Global самым привлекательным работодателям в мире.</a>
                            <div class="text">
                                <p>В 2015 году Randstad Award отмечает 15-летие. По итогам исследования-2014 также будут определены самые привлекательные работодатели в мире, и торжественная церемония вручения Randstad Award Global состоится 23 апреля 2015 года в Бельгии – на родине премии, где прошло  первое исследование 50 крупнейших работодателей в 2000 году.</p>
                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt class="archive">01.02.2015<span>|</span></dt>
                        <dd class="archive"><a href="#">Завершилось исследование Randstad Award-2015, проходившее по 23 странам мира в период с сентября по декабрь 2014.</a>
                            <div class="text">
                                <p>Объектом исследования в России стали 150 крупнейших по численности персонала компаний-работодателей из 15 значимых секторов экономики страны: автомобильная промышленность, банковские услуги, бытовая техника и электроника,  интернет, логистика и перевозки,  медицина и фармация, металлургия и горнодобывающая промышленность, потребительские товары - пищевые продукты, потребительские товары - непищевые продукты, промышленность и производство, розничная торговля и индустрия гостеприимства, сельское хозяйство и лесная промышленность, ИТ и телекоммуникации, топливно-энергетический комплекс, химическая промышленность.</p>
                                <p>В России в опросе приняли участие 9106 респондентов из 8 федеральных округов РФ: 54% женщин и 46% мужчин, наибольшее число респондентов - 62% - в возрасте от 25 до 44 лет, 11% участников опроса в возрасте от 18 до 24 лет и 27% в возрасте от 45 до 65 лет. 93% респондентов имеют высшее образование, 7% - средне-специальное. В исследовании участвовали как работающие в данный момент, так и безработные ( в том числе учащиеся) граждане.</p>
                                <p>2 апреля 2015 г. в Москве пройдет церемония награждения самых привлекательных работодателей России, на которой будут анонсированы результаты Randstad Award-2015.</p>
                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt class="archive">07.05.2014<span>|</span></dt>
                        <dd class="archive"><a href="#">Самые привлекательные работодатели в мире. Подведены итоги исследования Randstad Award Global-2014.</a>
                            <div class="text">
                                <p>В число претендентов на премию Randstad Award Global вошли корпорации BMW, Coca-Cola, GE, Samsung и Sony. Randstad определил трех победителей на основании опроса более чем 200 000 респондентов из 22 стран.</p>
                                <p>Первую премию получила компания BMW Group. Наивысшую привлекательность компания получила в том числе за привлекательность заработной платы, приятную рабочую атмосферу и сильный менеджмент. Вторая премия присуждена компании Sony, обладателем третьей премии стала компания Samsung.</p>
                                <p>>На <a target="_blank" href="http://www.randstad.com/randstad-award/insights-per-country/">сайте Randstad</a> доступны отчеты и имена победителей по всем странам-участницам исследования-2014.</p>
                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt class="archive">30.04.2014<span>|</span></dt>
                        <dd class="archive"><a href="#">Опубликован отчет по исследованию Randstad Award-2014 в России.</a>
                            <div class="text">
                                <p>Randstad Award призван помочь компаниям улучшить свой имидж работодателя с помощью данных независимого исследования. Методология исследования используется для определения сравнительной привлекательности самых крупных работодателей страны, а наиболее привлекательная компания получает премию. В отчете по стране содержатся данные безотносительно компаний-участниц, позволяющие изучить тенденции рынка труда, предпочтения и опасения его участников. В 2014 году помимо традиционного рейтинга ключевых факторов выбора места работы, респонденты отвечали на дополнительные вопросы, касающиеся комфортности и  производительности труда.</p>
                                <p>Полный отчет по России находится <a target="_blank" href="bundles/public2016/files/report2014.pdf">здесь</a>.</p>
                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt class="archive">25.04.2014<span>|</span></dt>
                        <dd class="archive"><a href="#">24 апреля 2014 года в Москве прошла торжественная церемония вручения премии Randstad Award-2014 самым привлекательным работодателям России.</a>
                            <div class="text">
                                <p>Самые привлекательные в России отрасли для работы – это нефтегазовый сектор, автомобильная промышленность и Интернет. В десятку самых привлекательных отраслей также входят энергоснабжение, промышленность и производство, металлургия и горная добыча, строительство и материалы, ТНП – непищевые продукты, машиностроение, лесная промышленность.</p>
                                <p>Самой привлекательной для работы национальной компанией признан ГАЗПРОМ, самой привлекательной международной компанией - BMW.</p>
                                <p>Также премию получили самые привлекательные работодатели в ведущих отраслях экономики: Abbott, Deutsche Bank, Ericsson, Henkel, Nestle, Robert Bosch, СИБУР, Яндекс.</p>
                                <p>Фотоотчет и видео церемонии смотрите <a target="_blank" href="foto2014">здесь</a>.</p>
                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt class="archive">24.04.2014<span>|</span></dt>
                        <dd class="archive"><a href="#">Анонсированы результаты исследования Randstad Award-2014 по России.</a>
                            <div class="text">
                                <p>В России сегодня наиболее важный критерий при выборе работодателя сегодня – это, прежде всего, заработная плата и социальный пакет. Такого мнения придерживается 36% респондентов, и этот же фактор возглавляет пятерку наиболее важных критериев выбора потенциального работодателя. При этом важно отметить, что такие факторы, как финансовая успешность и стабильность компании, содержание работы, гарантия долгосрочной занятости и карьерного роста также попали в топ-5 факторов, определяющих выбор респондентов и их желание найти работодателя своей мечты.</p>
                                <p>В топ-листе угроз балансу между работой и личной жизнью оказались такие факторы, как большое количество срочной работы, наличие переработок, необходимость работы по вечерам и выходным дням, а также психологическое давление со стороны начальства. И это те факторы, которые необходимо учитывать HR-профессионалам при разработке стратегий удержания и развития персонала.</p>
                                <p>Полный отчет по исследованию будет опубликован на сайте в ближайшее время.</p>
                                <span><a href="" ></a></span></div>
                        </dd>
                        <dt class="archive">03.04.2014<span>|</span></dt>
                        <dd class="archive"><a href="#">Randstad Award Global. В 2014 году впервые будут определены самые привлекательные работодатели в мире.</a>
                            <div class="text">
                                <p>В настоящий момент в исследовании принимают участие 23 страны, в которых присутствует Randstad: это страны Европы, Азии и Тихоокеанского региона, а также Америки. АНКОР – партнер холдинга Randstad в странах СНГ – впервые проводит в 2014 году вручение премии в России. 23 страны-участницы с присоединением России совокупно представляют 75% мировой экономики, что позволяет Randstad, основываясь на результатах исследования, определить самых привлекательных работодателей в мире. Компания-претендент на Randstad Award Global выбирается из списка 50 крупнейших по численности персонала компаний мира, ведущих бизнес минимум в 25 странах под одинаковым именем и имеющих не менее 30% сотрудников за пределами страны-основательницы.</p>
                                <p>Компания претендент должна набрать высший балл привлекательности работодателя минимум в 22 из 25 стран. Три обладателя Randstad Award Global-2014, соответственно завоевавшие золото, серебро и бронзу, будут определены 7 мая 2014 года. В числе номинантов-2014 BMW, Coca-Cola, GE, Samsung и Sony.</p>
                                <span><a href=""></a></span></div>
                        </dd>
                        <dt class="archive">10.02.2014<span>|</span></dt>
                        <dd class="archive"><a href="#">В декабре 2013 завершилось международное исследование Randstad Award. Впервые опрос прошел в Российской Федерации.</a>
                            <div class="text">
                                <p>В России в число 150 крупнейших компаний-работодателей страны были включены 75 национальных и 75 международных компаний. В исследовании в России приняли участие 8,527 респондентов в возрасте от 18 до 65 лет, из которых 54% - женщины, а 46% - мужчины. Выборка опроса полностью отражала пропорцию среди трудоспособного населения страны не только по полу и возрасту, но также по уровню образования. География исследования охватила все экономически активные регионы страны.</p>
                                <p>Итоги исследования будут анонсированы на торжественной церемонии вручения премии Randstad Award-2014 самым привлекательным работодателям России. Церемония состоится в Москве 24 апреля 2014 года.</p>

                                <span><a href="" ></a></span></div>
                        </dd>
                    </dl>
                    <button class="btn-archive">Архив</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content content-winner">
                <h2><a name="winners"></a>Победители</h2>
                <p>Самые привлекательные работодатели в России-2015:</p>
                <div class="winner-main clearfix">
                    <div class="goblet"><img src="../../../bundles/public2016/img/goblet.png"></div>
                    <div class="winner">
                        <div class="title"><span>Первая премия:</span> нефтегазовая сфера — <strong>ГАЗПРОМ</strong></div>
                        <ul class="photo clearfix">
                            <li class="certificate">
                                <div class="goblet-xs"><img src="../../../bundles/public2016/img/goblet.png"></div>
                                <img src="../../../bundles/public2016/img/cert/cert_gazprom.jpg">
                            </li>
                            <li><img src="../../../bundles/public2016/img/winners/gazprom.jpg"></li>
                        </ul>
                    </div>
                </div>
                <div class="winner-main clearfix">
                    <div class="goblet"><img src="../../../bundles/public2016/img/goblet.png"></div>
                    <div class="winner">
                        <div class="title"><span>Вторая премия:</span> сегмент бытовой техники и электроники — <strong>SAMSUNG</strong></div>
                        <ul class="photo clearfix">
                            <li class="certificate">
                                <div class="goblet-xs"><img src="../../../bundles/public2016/img/goblet.png"></div>
                                <img src="../../../bundles/public2016/img/cert/cert_samsung.jpg">
                            </li>
                            <li><img src="../../../bundles/public2016/img/winners/samsung.jpg"></li>
                        </ul>
                    </div>
                </div>
                <p>Самые привлекательные работодатели в своих отраслях:</p>
                <div class="winner-other">
                    <div class="winner">
                        <div class="title">Автомобильная индустрия&nbsp;&ndash; <strong>Toyota&nbsp;Motor</strong></div>
                        <img src="../../../bundles/public2016/img/winners/toyota.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert01_toyota.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Финансовые услуги &ndash; <strong>Группа&nbsp;ВТБ</strong></div>
                        <img src="../../../bundles/public2016/img/winners/vtb.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert02_vtb.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Здравоохранение &ndash; <strong>Johnson&Johnson</strong></div>
                        <img src="../../../bundles/public2016/img/winners/johnson.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert03_johnson.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Транспорт и логистика &ndash; <strong>«Аэрофлот &ndash; Российские авиалинии»</strong></div>
                        <img src="../../../bundles/public2016/img/winners/aeroflot.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert04_aeroflot.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Металлургия и горная добыча &ndash; <strong>ОМК</strong></div>
                        <img src="../../../bundles/public2016/img/winners/omk.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert05_omk.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Розничная торговля и гостеприимство &ndash; <strong>X5&nbsp;Retail&nbsp;Group</strong></div>
                        <img src="../../../bundles/public2016/img/winners/x5_retail.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert06_x5.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Телекоммуникации &ndash; <strong>Nokia</strong></div>
                        <img src="../../../bundles/public2016/img/winners/nokia.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert07_nokia.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Химическая промышленность &ndash; <strong>СИБУР</strong></div>
                        <img src="../../../bundles/public2016/img/winners/sibur.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert08_sibur.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Потребительские товары: пищевые продукты &ndash; <strong>Nestle</strong></div>
                        <img src="../../../bundles/public2016/img/winners/nestle.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert09_nestle.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Потребительские товары: непищевые продукты &ndash; <strong>Henkel</strong></div>
                        <img src="../../../bundles/public2016/img/winners/henkel.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert10_henkel.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Производство техники и оборудования &ndash; <strong>Robert&nbsp;Bosch</strong></div>
                        <img src="../../../bundles/public2016/img/winners/robert_bosch.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert11_robert_bosch.jpg">
                        </div>
                    </div>
                    <div class="winner">
                        <div class="title">Интернет &ndash; <strong>&laquo;Яндекс&raquo;</strong></div>
                        <img src="../../../bundles/public2016/img/winners/yandex.jpg">
                        <div>
                            <img class="prize" src="../../../bundles/public2016/img/prize.png">
                            <img class="certificate" src="../../../bundles/public2016/img/cert/cert12_yandex.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu">
            <div class="links">
                <a href="mailto:award@ancor.ru" class="btn-contact" title="Связаться с нами"><span class="icon-envelope"></span></a>
                <a target="_blank" href="guest" class="btn-register" title="Станьте гостем церемонии"><span class="icon-register"></span></a>
            </div>
            <ul class="mobile-partners">
                <li><a target="_blank" href="https://ancor.ru">Холдинг АНКОР</a></li>
                <li><a target="_blank" href="http://www.randstad.com/">Холдинг Randstad</a></li>
                <li><a target="_blank" href="http://www.randstad.com/randstad-award/">Randstad Award worldwide</a></li>
            </ul>
            <ul class="mobile-mainmenu">
                <li><a href="#about">О премии</a></li>
                <li><a href="#winners">Победители</a></li>
                <li><a href="#research">Об исследовании</a></li>
                <li><a href="#reports">Отчеты и презентации</a></li>
                <li><a href="#news">Новости</a></li>
                <li>
                    <a href="#">
                        История <span class="caret"></span>
                    </a>
                    <ul>
                        <li><a target="_blank" href="foto2015">2015</a></li>
                        <li><a target="_blank" href="foto2014">2014</a></li>
                    </ul>
                </li>
                <li><a target="_blank" href="link_to.pdf">Для СМИ</a></li>
            </ul>
        </div>
        <div class="golden-bg footer">
            <div class="container ">АНКОР — партнер Randstad Award в России  <span>|</span>  +7 (495) 926-41-00  <span>|</span>  <a href="mailto:award@ancor.ru">award@ancor.ru</a></div>
        </div>
    <script src="../../../bundles/jquery/jquery.js"></script>
    <script src="../../../bundles/bootstrap3/js/bootstrap.min.js"></script>
    <script src="../../../bundles/slick/slick.min.js"></script>
    <script src="../../../bundles/public2016/js/app.js"></script>
</body>
</html>