<?php

define('PRJ_REF', '');
define('PRJ_DIR', (php_sapi_name() != 'cli' ? $_SERVER['DOCUMENT_ROOT'] : getcwd()).PRJ_REF);

define('RES_REF', PRJ_REF.'/files');
define('RES_DIR', PRJ_DIR.'/files');
define('UPLOAD_REF', PRJ_REF.'/upload');
define('UPLOAD_DIR', PRJ_DIR.'/upload');
define('BACKUP_REF', PRJ_REF.'/app/backup');
define('BACKUP_DIR', PRJ_DIR.'/app/backup');
define('CACHE_DIR',  PRJ_DIR.'/app/cache/');
define('CACHE_TTL', 24*60*14);
define('PCRE_RES_REF', str_replace('/', '\/', RES_REF));
define('THEME_REF', PRJ_REF.'/bundles');
define('PRJ_LOCALE', 'ru');

require_once('database.php');
require_once('parameters.php');
